header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background: #444;
  color: #ddd;
  padding: 10px 0 10px 0;
}

nav {
  display: flex;
  justify-content: space-around;

  /* background: blue; */
  align-self: center;
  min-width: 300px;
  width: 20%;
}

span {
  /* background: red; */
  display: inline-block;
}
